Im going to follow the same approach most of the notebooks I've seen here. I'll see what they are trying to do and their approach. Maybe learn a couple of things and improve on that.

In [1]:
# Imports

import glob             # file pattern matching
import numpy as np        # numerical operations
import pandas as pd         # data manipulation

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning using scikit-learn for model training and evaluation
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.metrics import log_loss, brier_score_loss, mean_squared_error, roc_curve, auc
from sklearn.ensemble import RandomForestRegressor

from sklearn.isotonic import IsotonicRegression  # For probability calibration

## Data loading
Most notebooks appear to be concatenating all the notebooks into a single csv.

In [11]:
data_path = "/home/dalducin/GITHUB/KAGGLE/march_madness_2025/data/**"

In [12]:
files = glob.glob(data_path)
data = {p.split('/')[-1].split('.')[0]: pd.read_csv(p, encoding='latin-1') for p in files}

## Merging Data
Concatenate the mens and womens teams and their spellings then merge into a single dataframe of teams.

The `teams` dataframe was created by concatenating men's and women's team data and merging with team spellings. 

The `games` dataframe was created by combining detailed season and tournament results, adding game statistics, and mapping seeds. 

The `sub` dataframe was created by adding game states and merging aggregated statistics into the submission data.

In [27]:
# Combine men's and women's team data into one DataFrame
teams = pd.concat([data['MTeams'], data['WTeams']])

# Combine team spellings for consistency
teams_spelling = pd.concat([data['MTeamSpellings'], data['WTeamSpellings']])

# Group by TeamID and count occurrences of team name spellings (could be used as a quality metric)
teams_spelling = teams_spelling.groupby(by='TeamID', as_index=False)['TeamNameSpelling'].count()
teams_spelling.columns = ['TeamID', 'TeamNameCount']

# Merge the teams data with the spellings count
teams = pd.merge(teams, teams_spelling, how='left', on=['TeamID'])
teams

     TeamID        TeamName  FirstD1Season  LastD1Season  TeamNameCount
0      1101     Abilene Chr         2014.0        2025.0              3
1      1102       Air Force         1985.0        2025.0              2
2      1103           Akron         1985.0        2025.0              1
3      1104         Alabama         1985.0        2025.0              1
4      1105     Alabama A&M         2000.0        2025.0              2
..      ...             ...            ...           ...            ...
753    3476       Stonehill            NaN           NaN              1
754    3477  East Texas A&M            NaN           NaN              3
755    3478        Le Moyne            NaN           NaN              1
756    3479      Mercyhurst            NaN           NaN              1
757    3480    West Georgia            NaN           NaN              1

[758 rows x 5 columns]

In [28]:
# Concatenates men's and women's regular season and NCAA tournament for compact and detailed results.
season_cresults = pd.concat([data['MRegularSeasonCompactResults'], data['WRegularSeasonCompactResults']])
season_dresults = pd.concat([data['MRegularSeasonDetailedResults'], data['WRegularSeasonDetailedResults']])
tourney_cresults = pd.concat([data['MNCAATourneyCompactResults'], data['WNCAATourneyCompactResults']])
tourney_dresults = pd.concat([data['MNCAATourneyDetailedResults'], data['WNCAATourneyDetailedResults']])

In [29]:
# Create a seeds data frame with the mens and womens seeds
# and then create a dictionary of seeds
# The dictionary is indexed by the season and team id
seeds_df = pd.concat([data['MNCAATourneySeeds'], data['WNCAATourneySeeds']])
seeds = {'_'.join(map(str, [int(k1), k2])): int(v[1:3]) for k1, v, k2 in seeds_df[['Season', 'Seed', 'TeamID']].values}
seeds

{'1985_1207': 1,
 '1985_1210': 2,
 '1985_1228': 3,
 '1985_1260': 4,
 '1985_1374': 5,
 '1985_1208': 6,
 '1985_1393': 7,
 '1985_1396': 8,
 '1985_1439': 9,
 '1985_1177': 10,
 '1985_1455': 11,
 '1985_1330': 12,
 '1985_1233': 13,
 '1985_1318': 14,
 '1985_1273': 15,
 '1985_1250': 16,
 '1985_1385': 1,
 '1985_1433': 2,
 '1985_1301': 3,
 '1985_1424': 4,
 '1985_1449': 5,
 '1985_1409': 6,
 '1985_1104': 7,
 '1985_1234': 8,
 '1985_1116': 9,
 '1985_1112': 10,
 '1985_1431': 11,
 '1985_1246': 12,
 '1985_1361': 13,
 '1985_1305': 14,
 '1985_1267': 15,
 '1985_1380': 16,
 '1985_1328': 1,
 '1985_1272': 2,
 '1985_1181': 3,
 '1985_1326': 4,
 '1985_1256': 5,
 '1985_1403': 6,
 '1985_1412': 7,
 '1985_1425': 8,
 '1985_1229': 9,
 '1985_1277': 10,
 '1985_1130': 11,
 '1985_1338': 12,
 '1985_1235': 13,
 '1985_1337': 14,
 '1985_1335': 15,
 '1985_1299': 16,
 '1985_1276': 1,
 '1985_1314': 2,
 '1985_1242': 3,
 '1985_1261': 4,
 '1985_1268': 5,
 '1985_1345': 6,
 '1985_1323': 7,
 '1985_1437': 8,
 '1985_1173': 9,
 '1985_1333': 10,
 '1985_1120': 11,
 '1985_1275': 12,
 '1985_1298': 13,
 '1985_1325': 14,
 '1985_1292': 15,
 '1985_1192': 16,
 '1986_1181': 1,
 '1986_1393': 2,
 '1986_1231': 3,
 '1986_1328': 4,
 '1986_1438': 5,
 '1986_1386': 6,
 '1986_1298': 7,
 '1986_1330': 8,
 '1986_1452': 9,
 '1986_1409': 10,
 '1986_1350': 11,
 '1986_1177': 12,
 '1986_1318': 13,
 '1986_1156': 14,
 '1986_1135': 15,
 '1986_1290': 16,
 '1986_1242': 1,
 '1986_1276': 2,
 '1986_1323': 3,
 '1986_1207': 4,
 '1986_1277': 5,
 '1986_1301': 6,
 '1986_1235': 7,
 '1986_1239': 8,
 '1986_1396': 9,
 '1986_1275': 10,
 '1986_1234': 11,
 '1986_1449': 12,
 '1986_1403': 13,
 '1986_1114': 14,
 '1986_1103': 15,
 '1986_1299': 16,
 '1986_1246': 1,
 '1986_1210': 2,
 '1986_1272': 3,
 '1986_1228': 4,
 '1986_1104': 5,
 '1986_1345': 6,
 '1986_1439': 7,
 '1986_1443': 8,
 '1986_1304': 9,
 '1986_1437': 10,
 '1986_1261': 11,
 '1986_1462': 12,
 '1986_1193': 13,
 '1986_1123': 14,
 '1986_1265': 15,
 '1986_1172': 16,
 '1986_1385': 1,
 '1986_1257': 2,
 '1986_1314': 3,
 '1986_1424': 4,
 '1986_1268': 5,
 '1986_1412': 6,
 '1986_1133': 7,
 '1986_1120': 8,
 '1986_1112': 9,
 '1986_1431': 10,
 '1986_1281': 11,
 '1986_1337': 12,
 '1986_1419': 13,
 '1986_1428': 14,
 '1986_1180': 15,
 '1986_1286': 16,
 '1987_1314': 1,
 '1987_1393': 2,
 '1987_1345': 3,
 '1987_1395': 4,
 '1987_1323': 5,
 '1987_1196': 6,
 '1987_1452': 7,
 '1987_1298': 8,
 '1987_1276': 9,
 '1987_1443': 10,
 '1987_1301': 11,
 '1987_1292': 12,
 '1987_1267': 13,
 '1987_1318': 14,
 '1987_1204': 15,
 '1987_1335': 16,
 '1987_1207': 1,
 '1987_1104': 2,
 '1987_1228': 3,
 '1987_1155': 4,
 '1987_1242': 5,
 '1987_1344': 6,
 '1987_1309': 7,
 '1987_1246': 8,
 '1987_1326': 9,
 '1987_1140': 10,
 '1987_1412': 11,
 '1987_1222': 12,
 '1987_1283': 13,
 '1987_1122': 14,
 '1987_1299': 15,
 '1987_1137': 16,
 '1987_1231': 1,
 '1987_1396': 2,
 '1987_1177': 3,
 '1987_1281': 4,
 '1987_1181': 5,
 '1987_1385': 6,
 '1987_1210': 7,
 '1987_1120': 8,
 '1987_1360': 9,
 '1987_1261': 10,
 '1987_1455': 11,
 '1987_1401': 12,
 '1987_1462': 13,
 '1987_1256': 14,
 '1987_1380': 15,
 '1987_1193': 16,
 '1987_1424': 1,
 '1987_1234': 2,
 '1987_1338': 3,
 '1987_1417': 4,
 '1987_1438': 5,
 '1987_1328': 6,
 '1987_1431': 7,
 '1987_1208': 8,
 '1987_1243': 9,
 '1987_1112': 10,
 '1987_1409': 11,
 '1987_1461': 12,
 '1987_1141': 13,
 '1987_1265': 14,
 '1987_1365': 15,
 '1987_1226': 16,
 '1988_1396': 1,
 '1988_1181': 2,
 '1988_1393': 3,
 '1988_1231': 4,
 '1988_1210': 5,
 '1988_1281': 6,
 '1988_1374': 7,
 '1988_1207': 8,
 '1988_1261': 9,
 '1988_1323': 10,
 '1988_1348': 11,
 '1988_1235': 12,
 '1988_1350': 13,
 '1988_1299': 14,
 '1988_1131': 15,
 '1988_1250': 16,
 '1988_1345': 1,
 '1988_1338': 2,
 '1988_1301': 3,
 '1988_1243': 4,
 '1988_1177': 5,
 '1988_1242': 6,
 '1988_1435': 7,
 '1988_1124': 8,
 '1988_1272': 9,
 '1988_1429': 10,
 '1988_1462': 11,
 '1988_1455': 12,
 '1988_1247': 13,
 '1988_1293': 14,
 '1988_1185': 15,
 '1988_1192': 16,
 '1988_1328': 1,
 '1988_1246': 2,
 '1988_1228': 3,
 '1988_1140': 4,
 '1988_1257': 5,
 '1988_1437': 6,
 '1988_1268': 7,
 '1988_1120': 8,
 '1988_1133': 9,
 '1988_1364': 10,
 '1988_1116': 11,
 '1988_1333': 12,
 '1988_1150': 13,
 '1988_1427': 14,
 '1988_1380': 15,
 '1988_1151': 16,
 '1988_1112': 1,
 '1988_1314': 2,
 '1988_1276': 3,
 '1988_1424': 4,
 '1988_1234': 5,
 '1988_1196': 6,
 '1988_1461': 7,
 '1988_1371': 8,
 '1988_1431': 9,
 '1988_1258': 10,
 '1988_1385': 11,
 '1988_1199': 12,
 '1988_1283': 13,
 '1988_1129': 14,
 '1988_1317': 15,
 '1988_1165': 16,
 '1989_1207': 1,
 '1989_1181': 2,
 '1989_1390': 3,
 '1989_1234': 4,
 '1989_1301': 5,
 '1989_1243': 6,
 '1989_1452': 7,
 '1989_1435': 8,
 '1989_1323': 9,
 '1989_1397': 10,
 '1989_1278': 11,
 '1989_1376': 12,
 '1989_1353': 13,
 '1989_1373': 14,
 '1989_1354': 15,
 '1989_1343': 16,
 '1989_1112': 1,
 '1989_1231': 2,
 '1989_1371': 3,
 '1989_1424': 4,
 '1989_1272': 5,
 '1989_1333': 6,
 '1989_1431': 7,
 '1989_1388': 8,
 '1989_1155': 9,
 '1989_1261': 10,
 '1989_1191': 11,
 '1989_1177': 12,
 '1989_1225': 13,
 '1989_1283': 14,
 '1989_1206': 15,
 '1989_1352': 16,
 '1989_1228': 1,
 '1989_1393': 2,
 '1989_1281': 3,
 '1989_1257': 4,
 '1989_1116': 5,
 '1989_1210': 6,
 '1989_1196': 7,
 '1989_1338': 8,
 '1989_1123': 9,
 '1989_1161': 10,
 '1989_1400': 11,
 '1989_1258': 12,
 '1989_1114': 13,
 '1989_1166': 14,
 '1989_1137': 15,
 '1989_1270': 16,
 '1989_1328': 1,
 '1989_1314': 2,
 '1989_1276': 3,
 '1989_1199': 4,
 '1989_1438': 5,
 '1989_1104': 6,
 '1989_1417': 7,
 '1989_1247': 8,
 '1989_1256': 9,
 '1989_1235': 10,
 '1989_1375': 11,
 '1989_1344': 12,
 '1989_1292': 13,
 '1989_1462': 14,
 '1989_1380': 15,
 '1989_1190': 16,
 '1990_1163': 1,
 '1990_1242': 2,
 '1990_1181': 3,
 '1990_1247': 4,
 '1990_1155': 5,
 '1990_1385': 6,
 '1990_1417': 7,
 '1990_1231': 8,
 '1990_1143': 9,
 '1990_1412': 10,
 '1990_1396': 11,
 '1990_1140': 12,
 '1990_1379': 13,
 '1990_1350': 14,
 '1990_1352': 15,
 '1990_1131': 16,
 '1990_1328': 1,
 '1990_1345': 2,
 '1990_1207': 3,
 '1990_1116': 4,
 '1990_1228': 5,
 '1990_1462': 6,
 '1990_1208': 7,
 '1990_1314': 8,
 '1990_1283': 9,
 '1990_1400': 10,
 '1990_1243': 11,
 '1990_1173': 12,
 '1990_1343': 13,
 '1990_1411': 14,
 '1990_1419': 15,
 '1990_1406': 16,
 '1990_1277': 1,
 '1990_1393': 2,
 '1990_1281': 3,
 '1990_1210': 4,
 '1990_1261': 5,
 '1990_1278': 6,
 '1990_1438': 7,
 '1990_1222': 8,
 '1990_1364': 9,
 '1990_1323': 10,
 '1990_1431': 11,
 '1990_1437': 12,
 '1990_1190': 13,
 '1990_1320': 14,
 '1990_1164': 15,
 '1990_1293': 16,
 '1990_1424': 1,
 '1990_1112': 2,
 '1990_1276': 3,
 '1990_1257': 4,
 '1990_1333': 5,
 '1990_1308': 6,
 '1990_1104': 7,
 '1990_1326': 8,
 '1990_1344': 9,
 '1990_1161': 10,
 '1990_1258': 11,
 '1990_1123': 12,
 '1990_1225': 13,
 '1990_1229': 14,
 '1990_1378': 15,
 '1990_1114': 16,
 '1991_1314': 1,
 '1991_1393': 2,
 '1991_1329': 3,
 '1991_1417': 4,
 '1991_1280': 5,
 '1991_1301': 6,
 '1991_1345': 7,
 '1991_1343': 8,
 '1991_1437': 9,
 '1991_1396': 10,
 '1991_1379': 11,
 '1991_1185': 12,
 '1991_1336': 13,
 '1991_1307': 14,
 '1991_1350': 15,
 '1991_1318': 16,
 '1991_1116': 1,
 '1991_1231': 2,
 '1991_1242': 3,
 '1991_1104': 4,
 '1991_1448': 5,
 '1991_1338': 6,
 '1991_1199': 7,
 '1991_1113': 8,
 '1991_1353': 9,
 '1991_1425': 10,
 '1991_1208': 11,
 '1991_1256': 12,
 '1991_1293': 13,
 '1991_1309': 14,
 '1991_1157': 15,
 '1991_1209': 16,
 '1991_1326': 1,
 '1991_1181': 2,
 '1991_1304': 3,
 '1991_1385': 4,
 '1991_1400': 5,
 '1991_1261': 6,
 '1991_1234': 7,
 '1991_1210': 8,
 '1991_1177': 9,
 '1991_1190': 10,
 '1991_1163': 11,
 '1991_1389': 12,
 '1991_1296': 13,
 '1991_1462': 14,
 '1991_1419': 15,
 '1991_1406': 16,
 '1991_1424': 1,
 '1991_1112': 2,
 '1991_1371': 3,
 '1991_1428': 4,
 '1991_1277': 5,
 '1991_1308': 6,
 '1991_1438': 7,
 '1991_1207': 8,
 '1991_1435': 9,
 '1991_1140': 10,
 '1991_1166': 11,
 '1991_1453': 12,
 '1991_1375': 13,
 '1991_1337': 14,
 '1991_1384': 15,
 '1991_1285': 16,
 '1992_1181': 1,
 '1992_1246': 2,
 '1992_1269': 3,
 '1992_1371': 4,
 '1992_1281': 5,
 '1992_1393': 6,
 '1992_1150': 7,
 '1992_1400': 8,
 '1992_1234': 9,
 '1992_1235': 10,
 '1992_1343': 11,
 '1992_1452': 12,
 '1992_1247': 13,
 '1992_1200': 14,
 '1992_1330': 15,
 '1992_1144': 16,
 '1992_1417': 1,
 '1992_1231': 2,
 '1992_1199': 3,
 '1992_1328': 4,
 '1992_1177': 5,
 '1992_1207': 6,
 '1992_1261': 7,
 '1992_1257': 8,
 '1992_1448': 9,
 '1992_1140': 10,
 '1992_1378': 11,
 '1992_1308': 12,
 '1992_1418': 13,
 '1992_1285': 14,
 '1992_1183': 15,
 '1992_1352': 16,
 '1992_1242': 1,
 '1992_1425': 2,
 '1992_1116': 3,
 '1992_1153': 4,
 '1992_1277': 5,
 '1992_1272': 6,
 '1992_1210': 7,
 '1992_1191': 8,
 '1992_1431': 9,
 '1992_1222': 10,
 '1992_1337': 11,
 '1992_1283': 12,
 '1992_1174': 13,
 '1992_1293': 14,
 '1992_1419': 15,
 '1992_1224': 16,
 '1992_1326': 1,
 '1992_1329': 2,
 '1992_1112': 3,
 '1992_1314': 4,
 '1992_1104': 5,
 '1992_1276': 6,
 '1992_1385': 7,
 '1992_1304': 8,
 '1992_1163': 9,
 '1992_1408': 10,
 '1992_1396': 11,
 '1992_1390': 12,
 '1992_1275': 13,
 '1992_1190': 14,
 '1992_1204': 15,
 '1992_1290': 16,
 '1993_1314': 1,
 '1993_1153': 2,
 '1993_1269': 3,
 '1993_1116': 4,
 '1993_1385': 5,
 '1993_1438': 6,
 '1993_1308': 7,
 '1993_1348': 8,
 '1993_1345': 9,
 '1993_1304': 10,
 '1993_1264': 11,
 '1993_1403': 12,
 '1993_1221': 13,
 '1993_1335': 14,
 '1993_1164': 15,
 '1993_1187': 16,
 '1993_1231': 1,
 '1993_1242': 2,
 '1993_1181': 3,
 '1993_1257': 4,
 '1993_1329': 5,
 '1993_1143': 6,
 '1993_1140': 7,
 '1993_1309': 8,
 '1993_1462': 9,
 '1993_1374': 10,
 '1993_1261': 11,
 '1993_1266': 12,
 '1993_1174': 13,
 '1993_1356': 14,
 '1993_1123': 15,
 '1993_1460': 16,
 '1993_1246': 1,
 '1993_1371': 2,
 '1993_1199': 3,
 '1993_1234': 4,
 '1993_1448': 5,
 '1993_1243': 6,
 '1993_1443': 7,
 '1993_1428': 8,
 '1993_1338': 9,
 '1993_1272': 10,
 '1993_1408': 11,
 '1993_1151': 12,
 '1993_1419': 13,
 '1993_1191': 14,
 '1993_1398': 15,
 '1993_1351': 16,
 '1993_1276': 1,
 '1993_1112': 2,
 '1993_1435': 3,
 '1993_1210': 4,
 '1993_1307': 5,
 '1993_1228': 6,
 '1993_1396': 7,
 '1993_1235': 8,
 '1993_1417': 9,
 '1993_1281': 10,
 '1993_1253': 11,
 '1993_1203': 12,
 '1993_1380': 13,
 '1993_1129': 14,
 '1993_1365': 15,
 '1993_1157': 16,
 '1994_1314': 1,
 '1994_1163': 2,
 '1994_1196': 3,
 '1994_1396': 4,
 '1994_1231': 5,
 '1994_1304': 6,
 '1994_1412': 7,
 '1994_1450': 8,
 '1994_1130': 9,
 '1994_1203': 10,
 '1994_1335': 11,
 '1994_1325': 12,
 '1994_1180': 13,
 '1994_1241': 14,
 '1994_1351': 15,
 '1994_1251': 16,
 '1994_1345': 1,
 '1994_1181': 2,
 '1994_1246': 3,
 '1994_1242': 4,
 '1994_1448': 5,
 '1994_1266': 6,
 '1994_1277': 7,
 '1994_1344': 8,
 '1994_1104': 9,
 '1994_1371': 10,
 '1994_1418': 11,
 '1994_1158': 12,
 '1994_1151': 13,
 '1994_1398': 14,
 '1994_1411': 15,
 '1994_1416': 16,
 '1994_1116': 1,
 '1994_1269': 2,
 '1994_1276': 3,
 '1994_1329': 4,
 '1994_1417': 5,
 '1994_1400': 6,
 '1994_1387': 7,
 '1994_1228': 8,
 '1994_1207': 9,
 '1994_1268': 10,
 '1994_1443': 11,
 '1994_1409': 12,
 '1994_1308': 13,
 '1994_1337': 14,
 '1994_1402': 15,
 '1994_1299': 16,
 '1994_1281': 1,
 '1994_1112': 2,
 '1994_1257': 3,
 '1994_1393': 4,
 '1994_1143': 5,
 '1994_1278': 6,
 '1994_1438': 7,
 '1994_1153': 8,
 '1994_1458': 9,
 '1994_1307': 10,
 '1994_1356': 11,
 '1994_1453': 12,
 '1994_1218': 13,
 '1994_1129': 14,
 '1994_1259': 15,
 '1994_1298': 16,
 '1995_1448': 1,
 '1995_1269': 2,
 '1995_1437': 3,
 '1995_1329': 4,
 '1995_1104': 5,
 '1995_1409': 6,
 '1995_1150': 7,
 '1995_1278': 8,
 '1995_1387': 9,
 '1995_1390': 10,
 '1995_1228': 11,
 '1995_1335': 12,
 '1995_1180': 13,
 '1995_1330': 14,
 '1995_1389': 15,
 '1995_1299': 16,
 '1995_1417': 1,
 '1995_1163': 2,
 '1995_1268': 3,
 '1995_1428': 4,
 '1995_1280': 5,
 '1995_1332': 6,
 '1995_1153': 7,
 '1995_1281': 8,
 '1995_1231': 9,
 '1995_1396': 10,
 '1995_1400': 11,
 '1995_1365': 12,
 '1995_1253': 13,
 '1995_1211': 14,
 '1995_1151': 15,
 '1995_1198': 16,
 '1995_1242': 1,
 '1995_1116': 2,
 '1995_1345': 3,
 '1995_1438': 4,
 '1995_1112': 5,
 '1995_1272': 6,
 '1995_1393': 7,
 '1995_1443': 8,
 '1995_1276': 9,
 '1995_1356': 10,
 '1995_1257': 11,
 '1995_1275': 12,
 '1995_1311': 13,
 '1995_1453': 14,
 '1995_1411': 15,
 '1995_1159': 16,
 '1995_1246': 1,
 '1995_1314': 2,
 '1995_1277': 3,
 '1995_1328': 4,
 '1995_1113': 5,
 '1995_1207': 6,
 '1995_1235': 7,
 '1995_1140': 8,
 '1995_1408': 9,
 '1995_1196': 10,
 '1995_1462': 11,
 '1995_1123': 12,
 '1995_1264': 13,
 '1995_1451': 14,
 '1995_1293': 15,
 '1995_1291': 16,
 '1996_1269': 1,
 '1996_1207': 2,
 '1996_1403': 3,
 '1996_1266': 4,
 '1996_1336': 5,
 '1996_1314': 6,
 '1996_1307': 7,
 '1996_1133': 8,
 '1996_1390': 9,
 '1996_1243': 10,
 '1996_1309': 11,
 '1996_1116': 12,
 '1996_1284': 13,
 '1996_1296': 14,
 '1996_1290': 15,
 '1996_1416': 16,
 '1996_1246': 1,
 '1996_1448': 2,
 '1996_1437': 3,
 '1996_1428': 4,
 '1996_1235': 5,
 '1996_1257': 6,
 '1996_1276': 7,
 '1996_1453': 8,
 '1996_1439': 9,
 '1996_1400': 10,
 '1996_1409': 11,
 '1996_1143': 12,
 '1996_1145': 13,
 '1996_1339': 14,
 '1996_1419': 15,
 '1996_1363': 16,
 '1996_1163': 1,
 '1996_1153': 2,
 '1996_1210': 3,
 '1996_1417': 4,
 '1996_1280': 5,
 '1996_1231': 6,
 '1996_1396': 7,
 '1996_1181': 8,
 '1996_1185': 9,
 '1996_1328': 10,
 '1996_1130': 11,
 '1996_1433': 12,
 '1996_1343': 13,
 '1996_1122': 14,
 '1996_1422': 15,
 '1996_1159': 16,
 '1996_1345': 1,
 '1996_1242': 2,
 '1996_1112': 3,
 '1996_1393': 4,
 '1996_1272': 5,
 '1996_1234': 6,
 '1996_1268': 7,
 '1996_1208': 8,
 '1996_1155': 9,
 '1996_1365': 10,
 '1996_1203': 11,
 '1996_1180': 12,
 '1996_1286': 13,
 '1996_1434': 14,
 '1996_1354': 15,
 '1996_1441': 16,
 '1997_1314': 1,
 '1997_1376': 2,
 '1997_1307': 3,
 '1997_1437': 4,
 '1997_1143': 5,
 '1997_1257': 6,
 '1997_1458': 7,
 '1997_1231': 8,
 '1997_1160': 9,
 '1997_1400': 10,
 '1997_1269': 11,
 '1997_1343': 12,
 '1997_1254': 13,
 '1997_1330': 14,
 '1997_1164': 15,
 '1997_1193': 16,
 '1997_1242': 1,
 '1997_1181': 2,
 '1997_1208': 3,
 '1997_1112': 4,
 '1997_1268': 5,
 '1997_1228': 6,
 '1997_1266': 7,
 '1997_1345': 8,
 '1997_1348': 9,
 '1997_1344': 10,
 '1997_1425': 11,
 '1997_1158': 12,
 '1997_1375': 13,
 '1997_1151': 14,
 '1997_1293': 15,
 '1997_1238': 16,
 '1997_1278': 1,
 '1997_1417': 2,
 '1997_1153': 3,
 '1997_1155': 4,
 '1997_1409': 5,
 '1997_1235': 6,
 '1997_1462': 7,
 '1997_1279': 8,
 '1997_1396': 9,
 '1997_1435': 10,
 '1997_1229': 11,
 '1997_1131': 12,
 '1997_1275': 13,
 '1997_1139': 14,
 '1997_1149': 15,
 '1997_1402': 16,
 '1997_1246': 1,
 '1997_1428': 2,
 '1997_1448': 3,
 '1997_1386': 4,
 '1997_1130': 5,
 '1997_1390': 6,
 '1997_1150': 7,
 '1997_1234': 8,
 '1997_1438': 9,
 '1997_1207': 10,
 '1997_1328': 11,
 '1997_1434': 12,
 '1997_1334': 13,
 '1997_1388': 14,
 '1997_1298': 15,
 '1997_1285': 16,
 '1998_1314': 1,
 '1998_1163': 2,
 '1998_1376': 3,
 '1998_1277': 4,
 '1998_1343': 5,
 '1998_1462': 6,
 '1998_1231': 7,
 '1998_1150': 8,
 '1998_1227': 9,
 '1998_1328': 10,
 '1998_1449': 11,
 '1998_1424': 12,
 '1998_1185': 13,
 '1998_1350': 14,
 '1998_1192': 15,
 '1998_1298': 16,
 '1998_1112': 1,
 '1998_1153': 2,
 '1998_1428': 3,
 '1998_1268': 4,
 '1998_1228': 5,
 '1998_1116': 6,
 '1998_1396': 7,
 '1998_1397': 8,
 '1998_1229': 9,
 '1998_1452': 10,
 '1998_1304': 11,
 '1998_1375': 12,
 '1998_1429': 13,
 '1998_1362': 14,
 '1998_1319': 15,
 '1998_1311': 16,
 '1998_1242': 1,
 '1998_1345': 2,
 '1998_1390': 3,
 '1998_1279': 4,
 '1998_1395': 5,
 '1998_1155': 6,
 '1998_1385': 7,
 '1998_1348': 8,
 '1998_1293': 9,
 '1998_1178': 10,
 '1998_1444': 11,
 '1998_1199': 12,
 '1998_1434': 13,
 '1998_1158': 14,
 '1998_1174': 15,
 '1998_1341': 16,
 '1998_1181': 1,
 '1998_1246': 2,
 '1998_1276': 3,
 '1998_1307': 4,
 '1998_1393': 5,
 '1998_1417': 6,
 '1998_1269': 7,
 '1998_1329': 8,
 '1998_1203': 9,
 '1998_1387': 10,
 '1998_1274': 11,
 '1998_1233': 12,
 '1998_1139': 13,
 '1998_1172': 14,
 '1998_1354': 15,
 '1998_1347': 16,
 '1999_1181': 1,
 '1999_1274': 2,
 '1999_1153': 3,
 '1999_1397': 4,
 '1999_1458': 5,
 '1999_1396': 6,
 '1999_1400': 7,
 '1999_1158': 8,
 '1999_1409': 9,
 '1999_1345': 10,
 '1999_1245': 11,
 '1999_1283': 12,
 '1999_1174': 13,
 '1999_1206': 14,
 '1999_1248': 15,
 '1999_1197': 16,
 '1999_1277': 1,
 '1999_1428': 2,
 '1999_1246': 3,
 '1999_1112': 4,
 '1999_1150': 5,
 '1999_1242': 6,
 '1999_1449': 7,
 '1999_1437': 8,
 '1999_1279': 9,
 '1999_1275': 10,
 '1999_1191': 11,
 '1999_1348': 12,
 '1999_1328': 13,
 '1999_1308': 14,
 '1999_1117': 15,
 '1999_1291': 16,
 '1999_1120': 1,
 '1999_1268': 2,
 '1999_1385': 3,
 '1999_1326': 4,
 '1999_1417': 5,
 '1999_1231': 6,
 '1999_1257': 7,
 '1999_1393': 8,
 '1999_1329': 9,
 '1999_1166': 10,
 '1999_1203': 11,
 '1999_1178': 12,
 '1999_1293': 13,
 '1999_1359': 14,
 '1999_1434': 15,
 '1999_1457': 16,
 '1999_1163': 1,
 '1999_1390': 2,
 '1999_1314': 3,
 '1999_1116': 4,
 '1999_1234': 5,
 '1999_1196': 6,
 '1999_1278': 7,
 '1999_1281': 8,
 '1999_1307': 9,
 '1999_1211': 10,
 '1999_1335': 11,
 '1999_1412': 12,
 '1999_1373': 13,
 '1999_1451': 14,
 '1999_1108': 15,
 '1999_1427': 16,
 '2000_1181': 1,
 '2000_1396': 2,
 '2000_1329': 3,
 '2000_1228': 4,
 '2000_1196': 5,
 '2000_1231': 6,
 '2000_1332': 7,
 '2000_1242': 8,
 '2000_1177': 9,
 '2000_1371': 10,
 '2000_1337': 11,
 '2000_1139': 12,
 '2000_1335': 13,
 '2000_1220': 14,
 '2000_1248': 15,
 '2000_1249': 16,
 '2000_1390': 1,
 '2000_1153': 2,
 '2000_1326': 3,
 '2000_1397': 4,
 '2000_1163': 5,
 '2000_1274': 6,
 '2000_1409': 7,
 '2000_1314': 8,
 '2000_1281': 9,
 '2000_1424': 10,
 '2000_1116': 11,
 '2000_1429': 12,
 '2000_1418': 13,
 '2000_1111': 14,
 '2000_1423': 15,
 '2000_1354': 16,
 '2000_1277': 1,
 '2000_1235': 2,
 '2000_1268': 3,
 '2000_1393': 4,
 '2000_1246': 5,
 '2000_1417': 6,
 '2000_1120': 7,
 '2000_1428': 8,
 ...}

In [30]:
# Create a submission column into the data
sub = data['SampleSubmissionStage1']

In [31]:
# Shorten the categories names
season_cresults['ST'] = 'S'
season_dresults['ST'] = 'S'
tourney_cresults['ST'] = 'T'
tourney_dresults['ST'] = 'T'

In [32]:
# create a games dataframe
games = pd.concat((season_dresults, tourney_dresults), axis=0, ignore_index=True)
games['WLoc'] = games['WLoc'].map({'A': 1, 'H': 2, 'N': 3})

In [33]:
# Create a new column for all the games statistics and diffs
# Create unique IDs for each game and extract team identifiers
# ID is created by concatenating Season and the sorted team IDs
games['ID'] = games.apply(lambda r: '_'.join(map(str, [r['Season']] + sorted([r['WTeamID'], r['LTeamID']]))), axis=1)

# Create an ID based solely on team IDs (regardless of season)
games['IDTeams'] = games.apply(lambda r: '_'.join(map(str, sorted([r['WTeamID'], r['LTeamID']]))), axis=1)

# Define Team1 as the team with the lower team ID and Team2 as the other team
games['Team1'] = games.apply(lambda r: sorted([r['WTeamID'], r['LTeamID']])[0], axis=1)
games['Team2'] = games.apply(lambda r: sorted([r['WTeamID'], r['LTeamID']])[1], axis=1)

# Create IDs that include season information for each team (for mapping seeds)
games['IDTeam1'] = games.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team1']])), axis=1)
games['IDTeam2'] = games.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team2']])), axis=1)

# Map seeds to teams using the precomputed dictionary; if missing, fill with 0
games['Team1Seed'] = games['IDTeam1'].map(seeds).fillna(0)
games['Team2Seed'] = games['IDTeam2'].map(seeds).fillna(0)

# Create extra statistics columns for the games score difference, prediction, normalized score difference, and seed difference
games['ScoreDiff'] = games['WScore'] - games['LScore']

# Binary indicator for whether the team with the lower TeamID (Team1) won the game
games['Pred'] = games.apply(lambda r: 1.0 if sorted([r['WTeamID'], r['LTeamID']])[0] == r['WTeamID'] else 0.0, axis=1)

# Normalize the score difference based on the prediction
# If Pred is 0.0, multiply ScoreDiff by -1
games['ScoreDiffNorm'] = games.apply(lambda r: r['ScoreDiff'] * -1 if r['Pred'] == 0.0 else r['ScoreDiff'], axis=1)

# This ensures that the score difference is always positive for the winning team
games['SeedDiff'] = games['Team1Seed'] - games['Team2Seed']

# Fill missing values with -1
games = games.fillna(-1)

In [34]:
# create aggregated statistics
c_score_col = ['NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
c_score_agg = ['sum', 'mean', 'median', 'max', 'min', 'std', 'skew', 'nunique']

# Group by team pairing (IDTeams) and aggregate the statistics
gb = games.groupby(by=['IDTeams']).agg({k: c_score_agg for k in c_score_col}).reset_index()
gb.columns = [''.join(c) + '_c_score' for c in gb.columns]

In [35]:
# select the tourney games
tourney_games = games[games['ST'] == 'T']

In [36]:
# add the game states to the submission dataframe
sub['WLoc'] = 3
sub['Season'] = sub['ID'].map(lambda x: x.split('_')[0]).astype(int)
sub['Team1'] = sub['ID'].map(lambda x: x.split('_')[1])
sub['Team2'] = sub['ID'].map(lambda x: x.split('_')[2])
sub['IDTeams'] = sub.apply(lambda r: '_'.join(map(str, [r['Team1'], r['Team2']])), axis=1)
sub['IDTeam1'] = sub.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team1']])), axis=1)
sub['IDTeam2'] = sub.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team2']])), axis=1)
sub['Team1Seed'] = sub['IDTeam1'].map(seeds).fillna(0)
sub['Team2Seed'] = sub['IDTeam2'].map(seeds).fillna(0)
sub['SeedDiff'] = sub['Team1Seed'] - sub['Team2Seed']
sub = sub.fillna(-1)

In [37]:
# merge the aggregated statistics into the games and submission dataframes
games = pd.merge(games, gb, how='left', left_on='IDTeams', right_on='IDTeams_c_score')
sub = pd.merge(sub, gb, how='left', left_on='IDTeams', right_on='IDTeams_c_score')

In [38]:
games

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LBlkskew_c_score,LBlknunique_c_score,LPFsum_c_score,LPFmean_c_score,LPFmedian_c_score,LPFmax_c_score,LPFmin_c_score,LPFstd_c_score,LPFskew_c_score,LPFnunique_c_score
0,2003,10,1104,68,1328,62,3,0,27,58,...,6.153557e-01,3,153,19.125000,19.0,23,15,2.642374,0.006775,6
1,2003,10,1272,70,1393,63,3,0,26,62,...,-2.751920e-16,4,80,20.000000,20.0,24,16,3.265986,0.000000,3
2,2003,11,1266,73,1437,61,3,0,24,58,...,2.286088e-01,6,802,19.560976,20.0,28,7,5.104159,-0.421778,19
3,2003,11,1296,56,1457,50,3,0,18,38,...,1.732051e+00,2,63,21.000000,22.0,23,18,2.645751,-1.457863,3
4,2003,11,1400,77,1208,71,3,0,30,61,...,2.751920e-16,4,78,19.500000,21.0,22,14,3.785939,-1.658524,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202028,2024,147,3163,80,3425,73,1,0,28,58,...,NaN,2,32,16.000000,16.0,20,12,5.656854,NaN,2
202029,2024,147,3234,94,3261,87,2,0,32,69,...,NaN,2,40,20.000000,20.0,21,19,1.414214,NaN,2
202030,2024,151,3234,71,3163,69,3,0,27,59,...,1.732051e+00,2,35,11.666667,10.0,18,7,5.686241,1.205659,3
202031,2024,151,3376,78,3301,59,3,0,33,66,...,1.901981e-01,7,104,14.857143,15.0,22,8,5.014265,-0.159771,6
202032,2024,153,3376,87,3234,75,3,0,35,73,...,NaN,2,34,17.000000,17.0,20,14,4.242641,NaN,2

In [39]:
sub

,ID,Pred,WLoc,Season,Team1,Team2,IDTeams,IDTeam1,IDTeam2,Team1Seed,...,LBlkskew_c_score,LBlknunique_c_score,LPFsum_c_score,LPFmean_c_score,LPFmedian_c_score,LPFmax_c_score,LPFmin_c_score,LPFstd_c_score,LPFskew_c_score,LPFnunique_c_score
0,2021_1101_1102,0.5,3,2021,1101,1102,1101_1102,2021_1101,2021_1102,14.0,...,NaN,1.0,14.0,14.0,14.0,14.0,14.0,NaN,NaN,1.0
1,2021_1101_1103,0.5,3,2021,1101,1103,1101_1103,2021_1101,2021_1103,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021_1101_1104,0.5,3,2021,1101,1104,1101_1104,2021_1101,2021_1104,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021_1101_1105,0.5,3,2021,1101,1105,1101_1105,2021_1101,2021_1105,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021_1101_1106,0.5,3,2021,1101,1106,1101_1106,2021_1101,2021_1106,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507103,2024_3475_3477,0.5,3,2024,3475,3477,3475_3477,2024_3475,2024_3477,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507104,2024_3475_3478,0.5,3,2024,3475,3478,3475_3478,2024_3475,2024_3478,0.0,...,NaN,1.0,8.0,8.0,8.0,8.0,8.0,NaN,NaN,1.0
507105,2024_3476_3477,0.5,3,2024,3476,3477,3476_3477,2024_3476,2024_3477,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507106,2024_3476_3478,0.5,3,2024,3476,3478,3476_3478,2024_3476,2024_3478,0.0,...,1.360828,3.0,68.0,13.6,14.0,19.0,8.0,4.037326,-0.123085,5.0
507107,2024_3477_3478,0.5,3,2024,3477,3478,3477_3478,2024_3477,2024_3478,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# exclude the columns that are not needed
# and create a list of columns to be used
exclude_cols = ['ID', 'DayNum', 'ST', 'Team1', 'Team2', 'IDTeams', 'IDTeam1', 'IDTeam2', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'NumOT', 'Pred', 'ScoreDiff', 'ScoreDiffNorm', 'WLoc'] + c_score_col
col = [c for c in games.columns if c not in exclude_cols]
print("Data loading and preprocessing completed.")

Data loading and preprocessing completed.